.cover {
  max-width: 1200px;

  margin: 0 auto;
}
.wrapper {
  margin-left: var(--sidebar-width);
}

.container {
  max-width: 950px;
  padding: 0 16px;
}

.nav-container {
  width: var(--sidebar-width);
}

.grid {
  --grid-col: 1;
  --column-gap: 32px;
  --row-gap: 0px;

  display: grid;
  grid-template-columns: repeat(var(--grid-col), 1fr);
  align-items: start;
  column-gap: var(--column-gap);
  row-gap: var(--row-gap);
}

.grid--4-cols {
  --grid-col: 4;
}

.flex-row {
  --justify-content-value: flex-start;
  --align-item-value: flex-start;

  display: flex;
  align-items: var(--align-item-value);
  justify-content: var(--justify-content-value);
}

.flex-row-spacing {
  --justify-content-value: space-between;
}

.flex-row-center {
  --align-item-value: center;
}
