/* ************** */
/* NAVIGATION */
/* ************** */

.navbar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: var(--sidebar-width);

  background-color: var(--white-01);
  overflow-y: scroll;
  z-index: 2000;
}

.logo-box {
  padding: 16px;
}

.logo {
  font-size: 24px;
  font-weight: 500;

  letter-spacing: 4px;
  text-transform: uppercase;

  margin: 10px 0px;
}

.navbar-nav {
  padding-block: 64px;
}

.nav-item {
  font-family: var(--ff-2);
  font-weight: 700;
  font-size: 18px;

  color: var(--gray-03);
}

.nav-item:hover > .subnav {
  display: block;
}

.nav-link:hover,
.subnav-item:hover .nav-link {
  color: var(--black-01);
  background-color: var(--gray-01);

  transition: all 0.2s linear;
}

.nav-link {
  padding: 8px 16px;
}

.subnav {
  display: none;
  padding: 12px 24px;
  transition: all 1s linear;
}

.subnav-item .nav-link {
  font-size: 15px;
  padding: 8px 16px;
}

.m-navbar {
  display: none;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  background-color: var(--black-01);
}

.m-navbar .logo {
  color: var(--white-01);
}

.m-navbar-icon-box {
  height: 88px;
}

.m-navbar-icon-box:hover .navbar-icon {
  color: var(--black-01);
  background-color: var(--gray-01);
}

.m-navbar-icon-box:hover {
  background-color: var(--gray-01);
}

.navbar-icon {
  font-size: 24px;

  color: var(--white-01);
  margin: 50% 16px;
}

/* ************** */
/* HERO */
/* ************** */
.hero-box {
}

.hero-title {
  font-weight: 400;
  font-size: 24px;

  margin-block: 24px;
}

.hero-link-box {
  font-size: 24px;
  gap: 22px;
}

.hero-img-box {
  position: relative;
}

.heading-primary-box {
  position: absolute;
  top: 24px;
  left: 32px;
}

.hero-btn {
  font-size: 18px;
  line-height: calc(27 / 18);
  text-transform: uppercase;

  padding: 12px 24px;
  margin-top: 5px;
}

/* ************** */
/* PRODUCTS */
/* ************** */
.products-heading {
  color: var(--gray-03);

  margin-block: 15px;
}

/* ************** */
/* SUBSCRIBLE */
/* ************** */
.subscrible {
  background-color: var(--black-01);
}

/* ************** */
/* MORE-INFO */
/* ************** */
.more-info {
  background-color: var(--gray-02);
}

.more-info-box {
  padding: 64px 0;
}

.more-info-item {
  flex-basis: 300px;
}
.more-info-tilte {
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
}

.more-info-text,
.more-info-form .form-input,
.payment-item,
.store-location-item {
  font-size: 12px;
  line-height: calc(18 / 12);
}

.more-info-form .btn {
  width: 100%;
}

.about-link {
  font-size: 12px;
  line-height: 18px;

  text-decoration: underline;
  margin: 12px 0;
}

.payment-item,
.store-location-item {
  gap: 5px;

  margin: 12px 0;
}

.social-network {
  font-size: 18px;
  margin-top: 30px;
}

/* ************** */
/* FOOTER */
/* ************** */
.footer {
  color: var(--white-01);
  background-color: var(--black-01);
}
.footer p {
  padding-block: 24px;
}

.footer-link {
  display: inline;
  text-decoration: underline;
}
