@media (max-width: 992px) {
  /* ************** */
  /* LAYOUT */
  /* ************** */
  .container,
  .footer {
    margin-left: 0;
  }

  .grid--4-cols {
    --grid-col: 2;
  }

  /* ************** */
  /* NAVIGATION */
  /* ************** */
  .nav-container {
    display: none;
  }

  .m-navbar {
    display: flex;
  }
}

@media (max-width: 600px) {
  /* ************** */
  /* HERO */
  /* ************** */
  .subheading-primary {
    display: none;
  }
}
